*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-size: 1rem;
  --white: hsl(0, 0%, 100%);
  --purple-700: hsl(257, 40%, 49%);
  --magenta-400: hsl(300, 69%, 71%);
  --body-font: "Open Sans", sans-serif;
  --heading-font: "Poppins", sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  color: var(--gray-500);
  flex-direction: column;
  font-family: var(--font);
  font-size: var(--body-size);
  justify-content: space-between;
  background-color: var(--teal-100);
}
.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }